<div class='card'>
  <form (ngSubmit)="editBook()">
    <div class='card-header'>
      Edit Product
    </div>
    <div class='card-body'>
      <div class='table-responsive'>
        <table class='table'>

          <tbody>
          <tr>
            <td><label>Book title</label></td>
            <td><input type="title" name="p_title" [(ngModel)]="book.title"/></td>
          </tr>
          <tr>
            <td><label>Book description</label></td>
            <td><input type="text" name="p_code" [(ngModel)]="book.description"/></td>
          </tr>
          <tr>
            <td><label>Book date</label></td>
            <td><input type="text" name="p_date" [(ngModel)]="book.date"/></td>
          </tr>
          <tr>
            <td><label>Author</label></td>
            <td><input type="text" name="p_desc" [(ngModel)]="book.author"/></td>
          </tr>
          <tr>
            <td> <label>Rate</label></td>
            <td><input type="text" name="p_price" [(ngModel)]="book.rate"/></td>
          </tr>
          <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
