<div class="container">
  <form #addBook="ngForm" (ngSubmit)="addNewBook()">
    <div class="form-group">
      <label>Book Title</label>
      <input type="text" class="form-control" name="title" [(ngModel)]="book.title">
    </div>

    <div class="form-group">
      <label>Book Description</label>
      <input type="text" class="form-control" name="description" [(ngModel)]="book.description">

    </div>

    <div class="form-group">
      <label>Rate</label>
      <input type="text" class="form-control" name="duration" [(ngModel)]="book.rate">

    </div>


    <div class="form-group">
      <label>Author</label>
      <input type="text" class="form-control" name="venue" [(ngModel)]="book.author">

    </div>

    <div class="form-group">
      <label>Date</label>
      <input type="text" class="form-control" name="date" [(ngModel)]="book.date">

    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>
